h1{
    text-align: center;
    font-size: var(--font-jumbo);
}

h2{
    text-align: center;
    font-size: var(--font-large);
}

h3{
    text-align: center;
    font-size: var(--font-medium);
}

.subtitulo{
    font-size: var(--font-large);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}







/********************/
/*  SECTION REGISTER  */
/********************/

#register {
    margin: var(--spacing-68) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

.register__header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    align-items: center;
    justify-content: center;
}

.register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

#register .form__terms {
    font-size: var(--font-small);
}








/********************/
/*  SECTION LOGIN   */
/********************/

#login {
    margin: var(--spacing-68) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

.login__form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

#login .form__link {
    font-size: var(--font-small);
    text-align: center;
}